h1{
    font-size: 18px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"]
{
  width: 80%;
 
}
.form-group label {
    font-size: 12px;
}
.form-group select {
    width: 85%;
}
.form-group .checkbox {
    margin-top: 14px;
    display: flex;
}
.locker{
    margin-left: 0;
}
.box{
    margin-left: 0;
}

.form-group .amount {
    font-size: 14px;
}

.register {
    font-size: 14px;
    width: 100px;
}