h1{
    font-size: 25px;
}

.container{
    max-width: 440px;
}

.form-group label{
    font-size: 15px;
}

.form-group select {   
    width: 28.5rem;
}

.register{
    font-size: 15px;width: 110px;
}

